<ion-view view-title="List">
  <ion-content class="padding" scroll="false">
    <div ng-controller="HttpCtrl">
      <form ng-submit="search(phrase)">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search Username" ng-model="phrase">
          <input type="submit" hidden/>
        </label>
      <ion-list>
        <ion-item ng-repeat="item in content">
          ID: {{item.id}}, SQLID: {{item.sqlid}}, Username: {{item.username}}, Password: {{item.passwd}}, Date: {{item.date}}
      </ion-list>
      <div class='padding'>
        <center>
          <button class="button button-small icon-left ion-arrow-left-a button-royal" ng-click="firstparams()">
          First</button>
          <button class="button button-small icon-left ion-arrow-left-b button-royal" ng-click="lastparams()">
          Previous</button>
          <font size="7"color="dimgrey">({{page}}/{{pages}})</font>
          <button class="button button-small icon-right ion-arrow-right-b button-royal" ng-click="nextparams()">
          Next</button>
          <button class="button button-small icon-right ion-arrow-right-a button-royal button-royal" ng-click="finalparams()">
          Last</button>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
