<ion-view view-title="Add">
  <ion-content class="padding" scroll="false">
    <h2>Add a new entry</h2>
    <div ng-controller="HttpCtrl">
      <form ng-submit="addEntry(ent)" onsubmit=this.reset()>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="ent.user">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="ent.pass">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-royal">Add Entry</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
